<script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
<div class="container">
    <div class="container" ng-if="page==0">
        <h4 class="redtext">BIO</h4>
            <p>I am a full-stack developer form Barcelona, Spain and hold a
                degree in web development along with a diploma in Bioinformatics which gives
                me the ability to have an eye for design and a love for writing clean and simple
                code, here you can check out some of my
                <a class="redtext" ng-click="on_click_button(1)">work</a>.
            </p>


    </div>
    <div class="container"  ng-if="page==1">
        <h4 class="redtext">PROJECTS</h4>
        <div class="col-md-12" style="display:flex; align-items:center; justify-content:space-around;">
            <h1 class="col-md-6">GAIA is an online metagenomics analysis platform</h1>
            <img class="col-md-4" src="img/gaia.png" alt="">
        </div>
        <div class="col-md-12" style="display:flex; align-items:center; justify-content:space-around;">
            <h1  class="col-md-6">The genome of melon (Cucumis melo L.)</h1>
            <img class="col-md-4" src="img/Melonomics.png" alt="">

        </div>
        <div class="col-md-12" style="display:flex; align-items:center; justify-content:space-around;">
            <h1 class="col-md-6">Plant Resistant Gene database</h1>
            <img class="col-md-4" src="img/prgdb.png" alt="">
        </div>
    </div>
    <div class="container"  ng-if="page==2">
        <h4 class="redtext">CONTACT</h4>
        <div class="" style="display:flex; align-items:center;">
            <p>Leave me a message on skype :</p>
            <div style="width:200px; height:100px;" id="SkypeButton_Call_vickysundesha_1">
                <script type="text/javascript">
                Skype.ui({
                "name": "chat",
                "element": "SkypeButton_Call_vickysundesha_1",
                "participants": ["vickysundesha"],
                "imageSize": 32
                });
                </script>
            </div>
        </div>
            <div class="">
                <p>Send me an e-mail at: <a style="padding-left:2em" class="redtext" href="mailto:me.vickysundesha@gmail.com">me.vickysundesha@gmail.com</a></p>
            </div>


    </div>
</div>
