<div class="container">
    <div class="container" ng-if="page==0">
        <h4 class="redtext">BIO</h4>
            <p>I am a full-stack developer form Barcelona, Spain and hold a
                degree in web development along with a diploma in Bioinformatics which gives
                me the ability to have an eye for design and a love for writing clean and simple
                code, here you can check out some of my
                <a class="redtext" ng-click="on_click_button(1)">work</a>.
                <!-- If you want to know more about me feel free to
                <a href="mailto:me.vickysundesha@gmail.com" class="redtext">contact me</a> -->
            </p>


    </div>
    <div class="container"  ng-if="page==1">
        <h4 class="redtext">WORK</h4>

        <div class="col-md-12" style="display:flex; align-items:center;">
            <h3 class="col-md-6">GAIA is an online metagenomics platform</h3>
            <img class="col-md-4" style="float:right" src="img/gaia.png" alt="">
        </div>
        <div class="col-md-12" style="display:flex; align-items:center;">
            <img class="col-md-4" src="img/Melonomics.png" alt="">
            <h3  style="float:right"class="col-md-6">The genome of melon (Cucumis melo L.)</h3>
        </div>
        <div class="col-md-12" style="display:flex; align-items:center;">
            <h3 class="col-md-6">Plant Resistant Gene database</h3>
            <img class="col-md-4"  style="float:right" src="img/prgdb.png" alt="">
        </div>


         <!-- <div class="">
            <div class="">
                <h3>An online metagenomics platform</h3>
            </div>
            <div class="">

            </div> -->

    </div>
    <div class="container" ng-if="page==2">
        <h4 class="redtext">CONTACT</h4>
        <p>If you think I am the man for the job or have any further questions,
            please feel free to <a class="redtext" href="mailto:me.vickysundesha@gmail.com">
            contact me</a> <br>Thank you for stoping by..</p>
    </div>
</div>
