<div class="container" ng-if="page==0">
    <h4 class="redtext">BIO</h4>
        <p>I am a full-stack web developer form Barcelona, Spain. I hold a
            degree in web development along with a diploma in Bioinformatics,
            I have an eye for designe and a love for writing clean and simple
            code, here you can check out some of my
            <a href="#" class="redtext" ng-click="on_click_button(1)">work</a>
            and if you have any questions please feel free to
            <a href="mailto:me.vickysundesha@gmail.com" class="redtext">contact me</a>
        </p>

</div>
<div class="container" ng-if="page==1">
    <h4 class="redtext">WORK</h4>
    <div class="textOver">

    </div>
    <div class="textOver">

    </div>
    <div class="textOver">

    </div>
</div>
<div class="container" ng-if="page==2">
    <h4 class="redtext">CONTACT</h4>
    <p>Thank you for stoping by..</p>
</div>
