
<div class="col-md-3 col-sm-3 col-xs-3">
    <div class="col-md-12 col-sm-12 col-xs-6"> <a href="#" class="btn btn-sm animated-button bio" ng-click="userAction=1">BIO</a> </div>
    <div class="col-md-12 col-sm-12 col-xs-12"><p>I am a web designer and developer based in Barcelona. I have been designing and developing websites from 2013.</p></div>
</div>
<div class="col-md-3 col-sm-3 col-xs-3">
    <div class="col-md-12 col-sm-12 col-xs-6"> <a href="#" class="btn btn-sm animated-button projects" ng-click="userAction=2">WORK</a> </div>
    <div class="col-md-12 col-sm-12 col-xs-12"><p>Here you can check out some of the projects I have been working on !</p></div>
</div>
